In [1]:
#import dependencies
import pandas as pd
import numpy as np

#files to load
country_gdp_load = "country_gdp_2006_2016.csv"
export_data_load = "LivestockMeat_Exports.csv"
import_data_load = "LivestockMeat_Imports.csv"

country_gdp = pd.read_csv(country_gdp_load)
export_data = pd.read_csv(export_data_load)
import_data = pd.read_csv(import_data_load)

export_data.head()

,SOURCE_ID,HS_CODE,COMMODITY_DESC,GEOGRAPHY_CODE,GEOGRAPHY_DESC,ATTRIBUTE_DESC,UNIT_DESC,YEAR_ID,TIMEPERIOD_ID,AMOUNT
0,63,202306000.0,"Meat of bovine animals, boneless, except proce...",2771,Netherlands Antilles,"US Export, QTY",CWE,1991,7,33745.747942
1,63,202306000.0,"Meat of bovine animals, boneless, except proce...",2771,Netherlands Antilles,"US Export, QTY",CWE,1992,2,9852.430122
2,63,202306000.0,"Meat of bovine animals, boneless, except proce...",2771,Netherlands Antilles,"US Export, QTY",CWE,1992,5,15049.626171
3,63,202306000.0,"Meat of bovine animals, boneless, except proce...",2771,Netherlands Antilles,"US Export, QTY",CWE,1992,8,2819.455361
4,63,202306000.0,"Meat of bovine animals, boneless, except proce...",2771,Netherlands Antilles,"US Export, QTY",CWE,1992,12,56912.272824

In [2]:
#cut unneeded columns
to_cut = ['SOURCE_ID','HS_CODE','GEOGRAPHY_CODE','ATTRIBUTE_DESC', 'TIMEPERIOD_ID']
#table_country_export = export_data
export_data.drop(to_cut, inplace=True, axis=1)

In [3]:
#sort by country and year
sorted_exports = export_data.sort_values(['GEOGRAPHY_DESC','YEAR_ID'])
sorted_exports.head(50)

,COMMODITY_DESC,GEOGRAPHY_DESC,UNIT_DESC,YEAR_ID,AMOUNT
735386,Broiler,Afghanistan,CWE,1992,5.099952e+04
1109346,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,KG,1992,2.313300e+04
1109348,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,CWE,1992,5.099952e+04
1170530,Broiler,Afghanistan,KG,1992,2.313300e+04
193436,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,CWE,1994,1.380137e+05
443501,Broiler,Afghanistan,KG,1994,6.260200e+04
735589,Broiler,Afghanistan,CWE,1994,1.380137e+05
1076875,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,KG,1994,6.260200e+04
193435,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,KG,1995,2.137200e+04
193437,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,CWE,1995,4.711718e+04
193438,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,CWE,1995,1.038421e+05
443502,Broiler,Afghanistan,KG,1995,2.137200e+04
735387,Broiler,Afghanistan,CWE,1995,4.711718e+04
735388,Broiler,Afghanistan,CWE,1995,1.038421e+05
735590,Broiler,Afghanistan,CWE,1995,1.030088e+05
979332,"*Beef Cuts W/ Bone in Processed, NESOI, Frzn A...",Afghanistan,KG,1995,1.180800e+04
979501,"*Beef Cuts W/ Bone in Processed, NESOI, Frzn A...",Afghanistan,CWE,1995,3.550711e+04
1076876,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,KG,1995,4.710200e+04
1109347,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,KG,1995,4.672400e+04
1109349,"*Chicken Cuts and Edible Offal (Ex Livers), Fr...",Afghanistan,CWE,1995,1.030088e+05
1118399,Beef and veal,Afghanistan,KG,1995,1.180800e+04
1118414,Beef and veal,Afghanistan,CWE,1995,3.550711e+04
1170531,Broiler,Afghanistan,KG,1995,4.710200e+04
1170654,Broiler,Afghanistan,KG,1995,4.672400e+04
385321,Beef and veal,Afghanistan,CWE,1997,4.199735e+04
385435,Beef and veal,Afghanistan,KG,1997,1.340600e+04
476464,"Meat of bovine animals, boneless, except proce...",Afghanistan,KG,1997,1.340600e+04
847680,"Meat of bovine animals, boneless, except proce...",Afghanistan,CWE,1997,4.199735e+04
131178,"Chickens, nesoi, not cut in pieces, fresh, chi...",Afghanistan,CWE,1999,5.192326e+04
529036,Other chicken,Afghanistan,KG,1999,2.355200e+04
885933,"Chickens, nesoi, not cut in pieces, fresh, chi...",Afghanistan,KG,1999,2.355200e+04
907138,Other chicken,Afghanistan,CWE,1999,5.192326e+04
103032,Shell egg,Afghanistan,DOZ,2003,3.600000e+02
168737,"Birds' eggs, in shell, for hatching",Afghanistan,DOZ,2003,3.600000e+02
1181016,Egg,Afghanistan,DOZ,2003,3.600000e+02
19089,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2004,1.179030e+05
19090,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2004,2.665040e+05
19091,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2004,1.194968e+06
19161,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2004,3.549662e+05
71387,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2004,1.887520e+05
71388,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2004,1.642191e+06
71454,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2004,1.908541e+06
71455,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2004,3.620410e+06
105453,Pork,Afghanistan,CWE,2004,2.857411e+03
259968,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2004,1.739160e+05
259969,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2004,1.669957e+05
425879,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2004,2.599315e+05
425903,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2004,4.161268e+05
443503,Broiler,Afghanistan,KG,2004,1.610100e+05
443504,Broiler,Afghanistan,KG,2004,2.665040e+05

In [4]:
#shrink data down to 2006 to 2016
sorted_exports = sorted_exports[sorted_exports['YEAR_ID'].between(2006, 2016)]
sorted_exports.head(50)

,COMMODITY_DESC,GEOGRAPHY_DESC,UNIT_DESC,YEAR_ID,AMOUNT
19094,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,9.862200e+05
19095,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,9.810000e+04
19096,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,5.490000e+04
19097,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,7.537550e+05
19242,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,3.770924e+06
19243,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,2.019495e+06
19244,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,1.661745e+06
71392,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,5.615360e+05
103033,Shell egg,Afghanistan,DOZ,2006,2.709000e+04
105563,Pork,Afghanistan,CWE,2006,2.139018e+03
259785,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,4.980000e+04
259885,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,1.097902e+05
320767,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,4.717400e+04
320773,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,6.398915e+05
352500,"Sausages and similar products, of meat, meat o...",Afghanistan,KG,2006,2.346900e+04
385308,Beef and veal,Afghanistan,KG,2006,1.778283e+02
425908,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,2.174242e+06
425909,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,2.810342e+05
443511,Broiler,Afghanistan,KG,2006,1.274750e+05
443595,Broiler,Afghanistan,CWE,2006,2.174242e+06
454450,"Other prepared or preserved meat, meat offal o...",Afghanistan,CWE,2006,3.871978e+04
498243,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,1.070299e+06
498244,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,1.710463e+06
498245,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,5.619380e+05
498246,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,9.160280e+05
539421,Pork,Afghanistan,KG,2006,8.364160e+02
539422,Pork,Afghanistan,KG,2006,1.335305e+04
539433,Pork,Afghanistan,CWE,2006,3.414858e+04
574146,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,2.902500e+05
574168,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,1.040008e+05
574169,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,8.209351e+05
574170,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,6.470676e+05
652145,"Meat and edible offal, of the poultry of headi...",Afghanistan,KG,2006,9.774000e+04
727445,"Bird eggs not in shell, frsh, frzn, cooked by ...",Afghanistan,KG,2006,4.003000e+03
735395,Broiler,Afghanistan,CWE,2006,2.810342e+05
735418,Broiler,Afghanistan,KG,2006,1.117473e+06
735419,Broiler,Afghanistan,KG,2006,1.710463e+06
735420,Broiler,Afghanistan,KG,2006,1.171580e+06
735460,Broiler,Afghanistan,CWE,2006,1.237975e+06
735461,Broiler,Afghanistan,CWE,2006,1.089143e+06
735462,Broiler,Afghanistan,CWE,2006,2.582891e+06
735593,Broiler,Afghanistan,CWE,2006,2.162734e+05
735594,Broiler,Afghanistan,CWE,2006,1.210337e+05
735595,Broiler,Afghanistan,CWE,2006,2.463606e+06
735596,Broiler,Afghanistan,CWE,2006,3.770924e+06
735597,Broiler,Afghanistan,CWE,2006,2.952121e+06
735598,Broiler,Afghanistan,CWE,2006,2.799634e+06
741507,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,2.682077e+05
741508,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,8.507129e+05
741509,"Meat and edible offal, of the poultry of headi...",Afghanistan,CWE,2006,4.536054e+05

In [5]:
#shrink data to only countries we are interested in
sorted_exports_2 = sorted_exports.loc[(sorted_exports["GEOGRAPHY_DESC"] == 'Argentina')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Australia')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'China (Mainland)')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Bulgaria')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Colombia')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'France')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Germany, Fed. Republic')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Greece')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'India')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Indonesia')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Italy')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Japan')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Mexico')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Peru')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Poland')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Saudi Arabia')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Turkey')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'United Kingdom')|
                                  (sorted_exports["GEOGRAPHY_DESC"] == 'Zambia'),:]
sorted_exports_2

,COMMODITY_DESC,GEOGRAPHY_DESC,UNIT_DESC,YEAR_ID,AMOUNT
26074,"Meat of bovine animals, frozen, boneless, proc...",Argentina,KG,2006,11210.000000
26077,"Meat of bovine animals, frozen, boneless, proc...",Argentina,CWE,2006,33708.898999
104465,"Meat and edible offal, of the poultry of headi...",Argentina,KG,2006,4920.000000
243485,Mutton,Argentina,CWE,2006,2866.008600
286418,"Sausages and similar products, of meat, meat o...",Argentina,KG,2006,39010.000000
...,...,...,...,...,...
1148260,Pork,Zambia,CWE,2012,266668.696128
47454,"Meat of swine, nesoi, except processed, frozen",Zambia,CWE,2016,85236.131936
85422,"Meat of swine, nesoi, except processed, frozen",Zambia,KG,2016,26301.000000
266288,Pork,Zambia,CWE,2016,85236.131936
1148259,Pork,Zambia,KG,2016,26301.000000

In [6]:
#save clean export data
sorted_exports_2.to_csv('exports_country_clean.csv')

In [7]:
import_data.head()

,SOURCE_ID,HS_CODE,COMMODITY_DESC,GEOGRAPHY_CODE,GEOGRAPHY_DESC,ATTRIBUTE_DESC,UNIT_DESC,YEAR_ID,TIMEPERIOD_ID,AMOUNT
0,58,1.601006e+09,"Sausage and similar product meat etc, nesoi, f...",1220,Canada,"US Import, QTY",KG,2006,9,11641.0
1,58,1.601006e+09,"Sausage and similar product meat etc, nesoi, f...",1220,Canada,"US Import, QTY",KG,2006,10,14786.0
2,58,1.601006e+09,"Sausage and similar product meat etc, nesoi, f...",1220,Canada,"US Import, QTY",KG,2007,5,20402.0
3,58,1.601006e+09,"Sausage and similar product meat etc, nesoi, f...",1220,Canada,"US Import, QTY",KG,2007,11,50295.0
4,58,1.601006e+09,"Sausage and similar product meat etc, nesoi, f...",1220,Canada,"US Import, QTY",KG,2008,1,38411.0

In [8]:
#cut excess columns from import_data
import_data.drop(to_cut, inplace=True, axis=1)

In [9]:
#sort by country and year
sorted_imports = import_data.sort_values(['GEOGRAPHY_DESC','YEAR_ID'])
sorted_imports.head(50)

,COMMODITY_DESC,GEOGRAPHY_DESC,UNIT_DESC,YEAR_ID,AMOUNT
27119,Pork,Algeria,KG,2018,2.504000e+04
27120,Pork,Algeria,CWE,2018,5.520373e+04
218308,"Meat of swine, nesoi, except processed, frozen",Algeria,CWE,2018,5.520373e+04
234937,"Meat of swine, nesoi, except processed, frozen",Algeria,KG,2018,2.504000e+04
197,"Meat of bovine animals, nesoi, no cereals or v...",Argentina,KG,1989,6.451290e+05
198,"Meat of bovine animals, nesoi, no cereals or v...",Argentina,KG,1989,4.658500e+05
199,"Meat of bovine animals, nesoi, no cereals or v...",Argentina,KG,1989,6.950500e+05
200,"Meat of bovine animals, nesoi, no cereals or v...",Argentina,KG,1989,9.109240e+05
201,"Meat of bovine animals, nesoi, no cereals or v...",Argentina,KG,1989,5.539950e+05
8761,Pork,Argentina,KG,1989,1.764360e+02
14644,"Meat of bovine animals, salted, in brine, drie...",Argentina,CWE,1989,1.616392e+04
14645,"Meat of bovine animals, salted, in brine, drie...",Argentina,CWE,1989,1.970372e+04
25383,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,9.058410e+05
25384,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,6.049010e+05
25385,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,4.962080e+05
25386,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,9.298280e+05
25387,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,1.506868e+06
30147,"Meat of bovine animals, cured or pickled, no c...",Argentina,CWE,1989,1.029267e+05
30163,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,3.574696e+06
30164,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,1.958172e+06
30165,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,3.669355e+06
30166,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,5.946513e+06
30280,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,3.507878e+06
30281,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,3.170010e+06
30282,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,2.336162e+06
33812,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,6.015290e+05
33813,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,1.091272e+06
33826,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,8.889090e+05
33827,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,8.032920e+05
33828,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,5.919920e+05
33855,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,7.877900e+05
33856,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,1989,8.321530e+05
33961,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,3.108835e+06
33962,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,2.387105e+06
33963,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,CWE,1989,3.283903e+06
43425,"Corned beef, no cereals or vegetables, airtigh...",Argentina,CWE,1989,1.165903e+06
43426,"Corned beef, no cereals or vegetables, airtigh...",Argentina,CWE,1989,1.684664e+06
43450,"Corned beef, no cereals or vegetables, airtigh...",Argentina,CWE,1989,2.420234e+06
43451,"Corned beef, no cereals or vegetables, airtigh...",Argentina,CWE,1989,3.422820e+06
50863,"Corned beef, no cereals or vegetables, airtigh...",Argentina,CWE,1989,2.275575e+06
50864,"Corned beef, no cereals or vegetables, airtigh...",Argentina,CWE,1989,1.425682e+06
50865,"Corned beef, no cereals or vegetables, airtigh...",Argentina,CWE,1989,3.191099e+06
61415,"Meat of bovine animals, nesoi, no vegetables, ...",Argentina,KG,1989,1.551072e+06
61416,"Meat of bovine animals, nesoi, no vegetables, ...",Argentina,KG,1989,1.175683e+06
61417,"Meat of bovine animals, nesoi, no vegetables, ...",Argentina,KG,1989,2.231640e+06
61418,"Meat of bovine animals, nesoi, no vegetables, ...",Argentina,KG,1989,8.800750e+05
61419,"Meat of bovine animals, nesoi, no vegetables, ...",Argentina,KG,1989,2.783309e+06
61516,"Meat of bovine animals, nesoi, no vegetables, ...",Argentina,CWE,1989,6.497102e+06
61517,"Meat of bovine animals, nesoi, no vegetables, ...",Argentina,CWE,1989,4.735749e+06
61518,"Meat of bovine animals, nesoi, no vegetables, ...",Argentina,CWE,1989,4.924680e+06

In [10]:
#shrink data to 2006-2016
sorted_imports = sorted_imports[sorted_imports['YEAR_ID'].between(2006, 2016)]

In [11]:
#shrink data to only countries we are interested in
sorted_imports_2 = sorted_imports.loc[(sorted_imports["GEOGRAPHY_DESC"] == 'Argentina')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Australia')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'China (Mainland)')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Bulgaria')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Colombia')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'France')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Germany, Fed. Republic')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Greece')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'India')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Indonesia')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Italy')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Japan')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Mexico')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Peru')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Poland')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Saudi Arabia')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Turkey')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'United Kingdom')|
                                  (sorted_imports["GEOGRAPHY_DESC"] == 'Zambia'),:]
sorted_imports_2

,COMMODITY_DESC,GEOGRAPHY_DESC,UNIT_DESC,YEAR_ID,AMOUNT
30128,"Meat of bovine animals, cured or pickled, no c...",Argentina,KG,2006,137101.0
30129,"Meat of bovine animals, cured or pickled, no c...",Argentina,KG,2006,87009.0
30150,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,2006,9386.0
30151,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,2006,19475.0
30152,"Corned beef, nesoi, no cereals or vegetables, ...",Argentina,KG,2006,122693.0
...,...,...,...,...,...
217405,"Meat of swine, nesoi, except processed, frozen",United Kingdom,KG,2016,611503.0
217425,"Meat of swine, nesoi, except processed, frozen",United Kingdom,KG,2016,844693.0
217426,"Meat of swine, nesoi, except processed, frozen",United Kingdom,KG,2016,470598.0
217427,"Meat of swine, nesoi, except processed, frozen",United Kingdom,KG,2016,774903.0
217428,"Meat of swine, nesoi, except processed, frozen",United Kingdom,KG,2016,882301.0

In [12]:
#save clean export data
sorted_imports_2.to_csv('imports_country_clean.csv')

In [13]:
country_gdp.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME         Value Flag Codes
0      AUS       GDP     TOT  USD_CAP         A  2006  37844.782088        NaN
1      AUS       GDP     TOT  USD_CAP         A  2007  39597.743117        NaN
2      AUS       GDP     TOT  USD_CAP         A  2008  40094.833205        NaN
3      AUS       GDP     TOT  USD_CAP         A  2009  41615.326657        NaN
4      AUS       GDP     TOT  USD_CAP         A  2010  42787.358539        NaN

In [14]:
#cut unneeded columns
to_drop = ['INDICATOR','SUBJECT','FREQUENCY','MEASURE','Flag Codes']
country_gdp.drop(to_drop, inplace=True, axis=1)
country_gdp

    LOCATION  TIME         Value
0        AUS  2006  37844.782088
1        AUS  2007  39597.743117
2        AUS  2008  40094.833205
3        AUS  2009  41615.326657
4        AUS  2010  42787.358539
..       ...   ...           ...
630      ZMB  2012   3576.373281
631      ZMB  2013   3701.581648
632      ZMB  2014   3826.164471
633      ZMB  2015   3862.128452
634      ZMB  2016   3937.429913

[635 rows x 3 columns]

In [16]:
#Shrink data to countries being studied
cleaned_gdp = country_gdp.loc[(country_gdp["LOCATION"] == 'ARG')|
                              (country_gdp["LOCATION"] == 'AUS')|
                              (country_gdp["LOCATION"] == 'BGR')|
                              (country_gdp["LOCATION"] == 'CHN')|
                              (country_gdp["LOCATION"] == 'COL')|
                              (country_gdp["LOCATION"] == 'FRA')|
                              (country_gdp["LOCATION"] == 'DEU')|
                              (country_gdp["LOCATION"] == 'GRC')|
                              (country_gdp["LOCATION"] == 'IND')|
                              (country_gdp["LOCATION"] == 'IDN')|
                              (country_gdp["LOCATION"] == 'ITA')|
                              (country_gdp["LOCATION"] == 'JPN')|
                              (country_gdp["LOCATION"] == 'MEX')|
                              (country_gdp["LOCATION"] == 'PER')|
                              (country_gdp["LOCATION"] == 'POL')|
                              (country_gdp["LOCATION"] == 'SAU')|
                              (country_gdp["LOCATION"] == 'TUR')|
                              (country_gdp["LOCATION"] == 'GBR')|
                              (country_gdp["LOCATION"] == 'USA')|
                              (country_gdp["LOCATION"] == 'ZMB'),:]
cleaned_gdp

    LOCATION  TIME         Value
0        AUS  2006  37844.782088
1        AUS  2007  39597.743117
2        AUS  2008  40094.833205
3        AUS  2009  41615.326657
4        AUS  2010  42787.358539
..       ...   ...           ...
630      ZMB  2012   3576.373281
631      ZMB  2013   3701.581648
632      ZMB  2014   3826.164471
633      ZMB  2015   3862.128452
634      ZMB  2016   3937.429913

[217 rows x 3 columns]

In [17]:
cleaned_gdp.to_csv('cleaned_gdp.csv')

In [18]:
cleaned_gdp_2 = cleaned_gdp.pivot_table(values ="Value", index ="TIME", columns ="LOCATION")

In [19]:
cleaned_gdp_2

LOCATION,ARG,AUS,BGR,CHN,COL,DEU,FRA,GBR,GRC,IDN,IND,ITA,JPN,MEX,PER,POL,SAU,TUR,USA,ZMB
TIME,,,,,,,,,,,,,,,,,,,,
2006,15460.414115,37844.782088,11249.366255,5852.349553,8993.624772,34624.968884,32435.702917,34772.478459,28514.629395,7300.866433,3362.269982,32256.668217,33094.337692,13720.688226,NaN,15143.176341,41791.166485,13513.394426,46230.846201,2393.216756
2007,17136.460230,39597.743117,12606.956513,6829.424541,9750.675936,36820.153243,34092.919573,35599.400671,29289.735539,7853.303708,3696.164165,33903.208045,34507.170073,14233.029479,8098.434185,16788.670156,42539.469758,14726.311165,47902.060352,2589.986172
2008,18000.203145,40094.833205,14089.687690,7595.734210,10143.055262,38432.448211,35102.870428,36650.101264,30855.935774,8360.442284,3841.684247,35274.312724,34803.657814,14885.902438,8907.759314,18315.045643,44854.823178,15910.700132,48311.223702,2768.860353
2009,16898.991717,41615.326657,13925.023858,8332.410641,10222.230228,37501.127561,34719.504985,35038.592080,30388.352093,8508.180961,4104.009090,34355.464458,33201.986952,14532.386518,8972.800803,19095.054573,43069.445399,15347.185787,47028.160396,2961.483104
2010,18524.856760,42787.358539,14598.585504,9281.496213,10665.091783,39703.558088,35936.041871,36371.618272,28169.377084,8399.655991,4420.893038,34857.266561,34994.372225,15257.673556,9723.603632,20804.753607,44491.845129,17244.586968,48395.803473,3212.447852
2011,19817.450480,44419.309749,15661.192150,10330.747358,11553.671897,42541.513126,37447.949543,37146.173273,26141.091034,8973.562971,4739.373347,36183.316026,35775.256332,16546.641414,10435.871322,22576.179383,48524.639736,19445.133234,49810.699509,3361.606878
2012,19764.225013,43879.180355,16241.607310,11300.296497,12093.745535,43359.541048,37684.198067,38309.028313,25284.405782,9561.447727,5031.957154,36002.908697,37213.837398,17220.069140,11162.353494,23542.002955,50611.030680,20473.438697,51540.968322,3576.373281
2013,20365.613348,47761.214060,16581.780416,12331.055894,12720.714200,44993.667838,39528.473644,39984.885036,26097.797516,10129.881429,5377.580201,36067.707344,39008.360560,17461.798268,11891.632510,24422.763907,51373.657503,22204.865347,53045.945117,3701.581648
2014,20008.320642,47638.633438,17555.515868,13411.503995,13420.231047,47011.280402,40144.059485,41269.351632,26838.582268,10694.447972,5811.026440,36194.916674,39183.465681,18167.517949,12270.179181,25297.950445,52790.298364,23982.612542,54993.169489,3826.164471
2015,20551.833194,47351.047292,18342.039892,14419.244821,13807.774796,47683.547301,40840.848298,42522.183841,26902.327613,11189.583544,6260.135600,36909.296843,40406.095333,18438.044081,NaN,26529.036797,54172.110832,25727.604649,56770.417349,3862.128452
2016,20130.408028,50309.405732,20009.538590,15467.890286,14091.026182,50564.049275,42853.539363,44138.043208,27823.314892,11732.330723,6717.282686,39918.302413,40023.592457,19505.271537,NaN,27947.390312,54439.842335,26509.937205,57884.491072,3937.429913

In [20]:
#rename to match import/export data
cleaned_gdp_2 = cleaned_gdp_2.rename(columns = {'ARG':'Argentina',
                                     'AUS':'Australia',
                                     'BGR':'Bulgaria',
                                     'CHN':'China (Mainland)',
                                     'COL':'Colombia',
                                     'FRA':'France',
                                     'DEU':'Germany, Fed. Republic',
                                     'GRC':'Greece',
                                     'IND':'India',
                                     'IDN':'Indonesia',
                                     'ITA':'Italy',
                                     'JPN':'Japna',
                                     'MEX':'Mexico',
                                     'PER':'Peru',
                                     'POL':'Poland',
                                     'SAU':'Saudi Arabia',
                                     'TUR':'Turkey',
                                     'GBR':'United Kingdom',
                                     'USA':'United States',
                                     'ZMB':'Zambia'})
cleaned_gdp_2

LOCATION,Argentina,Australia,Bulgaria,China (Mainland),Colombia,"Germany, Fed. Republic",France,United Kingdom,Greece,Indonesia,India,Italy,Japna,Mexico,Peru,Poland,Saudi Arabia,Turkey,United States,Zambia
TIME,,,,,,,,,,,,,,,,,,,,
2006,15460.414115,37844.782088,11249.366255,5852.349553,8993.624772,34624.968884,32435.702917,34772.478459,28514.629395,7300.866433,3362.269982,32256.668217,33094.337692,13720.688226,NaN,15143.176341,41791.166485,13513.394426,46230.846201,2393.216756
2007,17136.460230,39597.743117,12606.956513,6829.424541,9750.675936,36820.153243,34092.919573,35599.400671,29289.735539,7853.303708,3696.164165,33903.208045,34507.170073,14233.029479,8098.434185,16788.670156,42539.469758,14726.311165,47902.060352,2589.986172
2008,18000.203145,40094.833205,14089.687690,7595.734210,10143.055262,38432.448211,35102.870428,36650.101264,30855.935774,8360.442284,3841.684247,35274.312724,34803.657814,14885.902438,8907.759314,18315.045643,44854.823178,15910.700132,48311.223702,2768.860353
2009,16898.991717,41615.326657,13925.023858,8332.410641,10222.230228,37501.127561,34719.504985,35038.592080,30388.352093,8508.180961,4104.009090,34355.464458,33201.986952,14532.386518,8972.800803,19095.054573,43069.445399,15347.185787,47028.160396,2961.483104
2010,18524.856760,42787.358539,14598.585504,9281.496213,10665.091783,39703.558088,35936.041871,36371.618272,28169.377084,8399.655991,4420.893038,34857.266561,34994.372225,15257.673556,9723.603632,20804.753607,44491.845129,17244.586968,48395.803473,3212.447852
2011,19817.450480,44419.309749,15661.192150,10330.747358,11553.671897,42541.513126,37447.949543,37146.173273,26141.091034,8973.562971,4739.373347,36183.316026,35775.256332,16546.641414,10435.871322,22576.179383,48524.639736,19445.133234,49810.699509,3361.606878
2012,19764.225013,43879.180355,16241.607310,11300.296497,12093.745535,43359.541048,37684.198067,38309.028313,25284.405782,9561.447727,5031.957154,36002.908697,37213.837398,17220.069140,11162.353494,23542.002955,50611.030680,20473.438697,51540.968322,3576.373281
2013,20365.613348,47761.214060,16581.780416,12331.055894,12720.714200,44993.667838,39528.473644,39984.885036,26097.797516,10129.881429,5377.580201,36067.707344,39008.360560,17461.798268,11891.632510,24422.763907,51373.657503,22204.865347,53045.945117,3701.581648
2014,20008.320642,47638.633438,17555.515868,13411.503995,13420.231047,47011.280402,40144.059485,41269.351632,26838.582268,10694.447972,5811.026440,36194.916674,39183.465681,18167.517949,12270.179181,25297.950445,52790.298364,23982.612542,54993.169489,3826.164471
2015,20551.833194,47351.047292,18342.039892,14419.244821,13807.774796,47683.547301,40840.848298,42522.183841,26902.327613,11189.583544,6260.135600,36909.296843,40406.095333,18438.044081,NaN,26529.036797,54172.110832,25727.604649,56770.417349,3862.128452
2016,20130.408028,50309.405732,20009.538590,15467.890286,14091.026182,50564.049275,42853.539363,44138.043208,27823.314892,11732.330723,6717.282686,39918.302413,40023.592457,19505.271537,NaN,27947.390312,54439.842335,26509.937205,57884.491072,3937.429913

In [21]:
cleaned_gdp_2.to_csv('cleaned_gdp_match.csv')