In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
# load in datasets
conversion_new_load_import = "imports_conversion.csv"
conversion_new_load_export = "exports_conversion.csv"

# read in csv

new_import_df = pd.read_csv(conversion_new_load_import)
new_export_df = pd.read_csv(conversion_new_load_export)

# see if it works

new_import_df.head()

,Unnamed: 0,COMMODITY_DESC,GEOGRAPHY_DESC,UNIT_DESC,YEAR_ID,AMOUNT,Metric Tons
0,30128,Beef,Argentina,KG,2006,137101.0,137.101
1,30129,Beef,Argentina,KG,2006,87009.0,87.009
2,30150,Beef,Argentina,KG,2006,9386.0,9.386
3,30151,Beef,Argentina,KG,2006,19475.0,19.475
4,30152,Beef,Argentina,KG,2006,122693.0,122.693